shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy==1.23.4
visualdl
rapidfuzz
opencv-python
opencv-contrib-python
opencv-python-headless
cython
lxml
premailer
openpyxl
attrdict
Polygon3
lanms-neo==1.0.2
PyMuPDF<1.21.0
requests==2.28.1
protobuf==3.19.0
paddleocr>=2.0.1
paddlepaddle==2.3.2
python-docx
beautifulsoup4
fonttools>=4.24.0
fire>=0.3.0
pdf2docx